body {
    background-image: url("imagen/cuc.jpg"); 
    background-size: contain; 
    background-repeat: no-repeat;
    background-position: top center;
    
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.contenedor {
        text-align: center;
        background: white;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        width: 400px; 
}

.calculadora {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 200px; 
}

.botones {
    background-color: #f1f1f1;
    border: 1px solid #ccc;
    font-size: 1.5rem;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.botones:hover {
    background-color: #ddd;
}
