body {
    background-image: url("imagen/cuc.jpg"); 
    background-size: 150px; /* Ajusta el tamaño */
    background-repeat: no-repeat;
    background-position: top right; /* Imagen arriba a la derecha */
    
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.contenedor {
    text-align: center;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 400px;
}

h1 {
    font-size: 20px; /* Reduce el tamaño del texto */
    font-weight: bold;
    text-align: center;
}

.calculadora {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 200px;
}

.botones {
    background-color: #f1f1f1;
    border: 1px solid #ccc;
    font-size: 1rem; /* Reduce el tamaño del botón */
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.botones:hover {
    background-color: #ddd;
}
